._prose {
  max-width: 80ch !important;
  padding-bottom: 0;
}

._prose img.shadow,
._prose video {
  /* add white background for img here, this is needed for some SVG images */
  background-color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow:
    0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05) 0 0.625rem 0.9375rem -0.3125rem,
    rgba(0, 0, 0, 0.04) 0 0.4375rem 0.4375rem -0.3125rem;
}

._prose img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

._prose ul,
._prose ol {
  margin-top: 0;
  margin-bottom: 0;
}

._prose li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

._prose
  :where(blockquote p:first-of-type):not(
    :where([class~='_not-prose'] *)
  ):before {
  content: none;
}

._prose blockquote {
  font-weight: 400;
}

th._border {
  text-align: start;
}

table a {
  text-decoration: underline;
}
