img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

img.shadow {
  box-shadow:
    0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05) 0 0.625rem 0.9375rem -0.3125rem,
    rgba(0, 0, 0, 0.04) 0 0.4375rem 0.4375rem -0.3125rem;
}

img.white {
  background-color: white;
}

.mdx-embed {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

th.nx-border {
  text-align: start;
}
