img {
  /* add white background for img here, this is needed for some SVG images */
  background-color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mdx-embed {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
